<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.makemytrip.testing.LandingPageTest" />
			<class name="com.makemytrip.testing.SearchPageTest">
				<methods>
					<include name="assignSearchPage"></include>
					<include name="handleRandomPopupTest"></include>
					<include name="handleLoginPopupTest"></include>
					<include name="selectTripTypeTest"></include>
					<include name="fromCityTest"></include>
					<include name="toCityTest"></include>
					<include name="departureDateTest"></include>
					<include name="selectPassengerTest"></include>
					<include name="searchTest"></include>
				</methods>
			</class>
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
